.main{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    /* rgba(0,0,0,0.5);opacity:rgba(0,0,0,0.8); */
    /* background-color: rgba(0,0,0,0.5); */
}
#indexA{
    background-image: url("../images/startup1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 700px;
}
#indexB{
   width: 700px; 
   background-color: rgb(211,211,211,0.5);
}
#indexB1{
    position: relative; 
    margin-top: 200px;
}
#indexB1 a{
    color: white;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(255,20,147);
    font-family: sans-serif;
    font-size: 20px;
}
#navbars nav a{
    display: block;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255,20,147);
}
#navbars nav a:hover{
    background-color:  rgb(255,20,147);
    color: white;
}
#navbars nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: rows;
    /* padding: 20px; */
    margin-right: 25px;
}
.about{
    display: flex;
    flex-direction: row;
    background-color: rgb(0,0,0, 0.2);
}
#aboutB h2{
    font-weight: bold;
    color: rgb(0,0,0, 0.8);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
#aboutB h6{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(199, 112, 158);
}
#aboutB p{
    font-family: serif;
    font-display: initial;
    font-size: 20px;
    color: grey;
}
.skillsTable{
    background-color: rgb(0,0,0, 0.2);
    margin-top: 10px;
    margin-left: 20px;
}
.skillsTable table{
      margin-left: 50px;
      height: 1000px;
      width: 1100px;
}
.skillsTable h1{
      text-align: center;
      font-size: 45px;
}
.skillsTable table td{
    font-size: 25px;
    font-weight: bold;
    color:rgb(199, 112, 158);
}
.apps{
    background-color: rgb(0,0,0, 0.2);
}
.apps h1{
    text-align: center;
}
.apps table{
    margin-left: 200px;
}
.apps table tr td h6{
    margin-top: 2px;
    text-align: center;
    font-size: 30px;
}
.apps table tr td p{
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
}
.apps table tr td a{
    margin-left: 350px;
    font-size: 150x;
    text-decoration: none;
    border-radius: 100px;
    background-color: black;
    color: white;
}
#contacts{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    margin-left: 180px;
    

}
.contactscontainer{
    display:flex;
    flex-direction: row;
    background-color: rgb(0,0,0, 0.2);
}
.footer{
    font-family: arial;
    font-weight: normal;
    background-color: rgba(0,0,0, 0.8);
    color: rgba(204,204,204, 0.5);
    text-align: center;
  }